# Xcode
.DS_Store
build/
DerivedData/
.xcuserstate
xcuserdata/
.xcworkspace
xcshareddata/

# Cocoa/Carthage/SwiftPM
Pods/
Carthage/
.build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html

# Misc
.swp
.tmp
*.log
